@charset "UTF-8";
/* ======================================
 * 画像
 * ====================================== */
input[name="deleteGenre"],
input[name="archive"] {
  display: none; }

input[type="text"] {
  padding: 5px 0 5px 5px !important;
  box-shadow: 1px 1px 2px -2px #ccc inset !important;
  outline: none;
  border-radius: 3px; }

.env-pc input[type="radio"] {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 5px; }

.env-pc .btn-positive {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #EA5504;
  cursor: pointer;
  -webkit-appearance: none; }

.env-pc .btn-negative {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  background-color: #ccc;
  cursor: pointer;
  -webkit-appearance: none; }

.env-pc .js-added_tr {
  height: 50px; }

.env-sp input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-left: 3px;
  margin-top: 5px; }

.env-sp .btn-positive {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #EA5504;
  cursor: pointer;
  -webkit-appearance: none; }

.env-sp .btn-negative {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  background-color: #ccc;
  cursor: pointer;
  -webkit-appearance: none; }

.env-sp .js-added_tr {
  height: 50px; }

.env-sp header .content-block {
  width: 100vw; }

.env-sp .menu-trigger,
.env-sp .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box; }

.env-sp .menu-trigger {
  position: absolute;
  width: 50px;
  height: 44px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  float: right;
  right: 10px;
  margin-top: 2px;
  z-index: 99; }

.env-sp .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #272727;
  border-radius: 4px; }

.env-sp .menu-trigger span:nth-of-type(1) {
  top: 0; }

.env-sp .menu-trigger span:nth-of-type(2) {
  top: 20px; }

.env-sp .menu-trigger span:nth-of-type(3) {
  bottom: 0; }

.env-sp .menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(20px) rotate(-45deg); }

.env-sp .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.env-sp .menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-20px) rotate(45deg); }

.env-pc {
  /* ======================================
 * genre
 * ====================================== */
  /* ======================================
 * todoリスト
 * ====================================== */
  /* ======================================
 * 追加ボタン
 * ====================================== */
  /* ======================================
 * テーブル編集、ハイライト
 * ====================================== */
  /* ======================================
 * 吹き出し
 * ====================================== */ }
  .env-pc .user-name {
    position: absolute;
    top: 15px;
    left: 80px;
    color: #fff;
    font-weight: bold; }
  .env-pc h2 {
    font-size: 15px;
    display: inline-block; }
  .env-pc .fa {
    margin-right: 5px; }
  .env-pc .content-left {
    position: relative;
    width: 250px;
    height: 100%;
    float: left; }
    .env-pc .content-left .content-wrapper {
      padding: 10px 30px 0px; }
  .env-pc .content-right {
    position: relative;
    float: right;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    margin-right: 30px; }
    .env-pc .content-right .content-wrapper {
      padding: 13px 15px 0 0;
      margin-left: 30px; }
  .env-pc .sec-todo {
    min-height: 500px;
    height: 100%;
    overflow: hidden; }
  .env-pc .rule {
    margin-bottom: 20px;
    width: 200px;
    border-bottom: 1px #888 solid;
    padding: 15px 0 15px 0; }
    .env-pc .rule__item {
      margin-bottom: 10px;
      cursor: pointer; }
  .env-pc .genre {
    width: 200px;
    position: relative; }
    .env-pc .genre__list {
      margin-bottom: 30px;
      max-height: 200px;
      overflow: scroll; }
    .env-pc .genre__item {
      height: 20px;
      width: 100%;
      margin: 10px auto;
      cursor: pointer; }
    .env-pc .genre__color {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50% 50%;
      margin-right: 10px; }
    .env-pc .genre__delete {
      margin-left: 10px;
      visibility: hidden; }
    .env-pc .genre__edit {
      margin-left: 25px;
      visibility: hidden; }
  .env-pc .genre__txt input {
    font-size: 14px; }
  .env-pc .js-added {
    margin: 15px 0 5px 20px; }
  .env-pc .genre-submit-btn {
    margin-right: 5px; }
  .env-pc .genre__item:hover .genre__txt {
    font-weight: bold; }
  .env-pc .genre__item:hover .genre__delete, .env-pc .genre__item:hover .genre__edit {
    visibility: visible; }
  .env-pc .js-added_tr {
    position: relative;
    width: 100%; }
  .env-pc .todo__submit-btn {
    display: inline-block;
    margin-right: 5px; }
  .env-pc .todo__cancel-btn {
    display: inline-block; }
  .env-pc .todo__table {
    margin-top: 20px;
    margin-bottom: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    max-height: 300px;
    overflow: scroll;
    display: block; }
  .env-pc .todo__th {
    height: 20px;
    line-height: 10px;
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px; }
  .env-pc .todo__tr {
    border-bottom: #888 1px solid; }
  .env-pc td {
    vertical-align: middle; }
  .env-pc .editable-td {
    padding: 3px; }
  .env-pc .editable-tr {
    border-bottom: #ccc 1px dotted;
    display: none; }
  .env-pc .btn-add {
    color: #EA5504;
    cursor: pointer; }
  .env-pc .btn-genre, .env-pc .btn-todo {
    height: 24px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px; }
    .env-pc .btn-genre .btn-add, .env-pc .btn-todo .btn-add {
      display: inline-block; }
    .env-pc .btn-genre .btn-add:after, .env-pc .btn-todo .btn-add:after {
      content: 'ジャンルを追加';
      font-size: 12px;
      vertical-align: middle;
      margin-left: 10px; }
  .env-pc .btn-todo .btn-add:after {
    content: 'マイルールを追加'; }
  .env-pc .todo-insert, .env-pc .genre-insert {
    display: none;
    width: 200px; }
    .env-pc .todo-insert input[type='text'], .env-pc .genre-insert input[type='text'] {
      width: 200px;
      margin: 2px 0; }
    .env-pc .todo-insert input[type='submit'], .env-pc .genre-insert input[type='submit'] {
      margin-top: 5px;
      padding: 5px; }
  .env-pc .is-editing {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    word-wrap: break-word; }
  .env-pc table {
    table-layout: fixed; }
  .env-pc th {
    width: 200px; }
  .env-pc th:first-child {
    width: 30px; }
  .env-pc td {
    width: 200px;
    height: 30px;
    cursor: text; }
  .env-pc td:first-child {
    width: 30px; }
  .env-pc .js-highlight td, .env-pc td.js-highlight {
    background: #f8f8f8; }
  .env-pc .setting {
    display: none;
    position: absolute;
    top: 55px;
    right: 14px;
    z-index: 999; }
  .env-pc .btn-logout {
    padding: 15px 10px;
    cursor: pointer; }
  .env-pc .arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #EA5504; }
  .env-pc .arrow_box:after, .env-pc .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .env-pc .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .env-pc .arrow_box:before {
    border-color: rgba(245, 10, 65, 0);
    border-bottom-color: #EA5504;
    border-width: 12px;
    margin-left: -12px; }

.env-sp {
  /* ======================================
 * genre
 * ====================================== */
  /* ======================================
 * todoリスト
 * ====================================== */
  /* ======================================
 * 追加ボタン
 * ====================================== */
  /* ======================================
 * テーブル編集、ハイライト
 * ====================================== */
  /* ======================================
 * 設定
 * ====================================== */
  /* ======================================
 * ジャンル
 * ====================================== */ }
  .env-sp .user-name {
    position: absolute;
    top: 15px;
    left: 50px;
    color: #fff;
    font-weight: bold;
    max-width: 170px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .env-sp h2 {
    font-size: 15px;
    display: inline-block; }
  .env-sp .fa {
    margin-right: 5px; }
  .env-sp .content-left {
    position: relative;
    width: 250px;
    height: 100%;
    float: left;
    display: none; }
    .env-sp .content-left .content-wrapper {
      padding: 10px 10px 0px; }
  .env-sp .content-right {
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    padding-right: 10px; }
    .env-sp .content-right .content-wrapper {
      padding: 13px 15px 0 0;
      margin-left: 30px; }
  .env-sp .sec-todo {
    min-height: 500px;
    height: 100%;
    overflow: hidden; }
  .env-sp .rule {
    margin-bottom: 20px;
    width: 200px;
    border-bottom: 1px #888 solid;
    padding: 15px 0 15px 0; }
    .env-sp .rule__item {
      margin-bottom: 10px;
      cursor: pointer; }
  .env-sp .genre {
    width: 200px;
    position: relative; }
    .env-sp .genre__list {
      margin-bottom: 30px;
      max-height: 200px;
      overflow: scroll; }
    .env-sp .genre__item {
      height: 20px;
      width: 100%;
      margin: 10px auto;
      cursor: pointer; }
    .env-sp .genre__color {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50% 50%;
      margin-right: 10px; }
    .env-sp .genre__delete {
      margin-left: 10px;
      visibility: hidden; }
    .env-sp .genre__edit {
      margin-left: 25px;
      visibility: hidden; }
  .env-sp .genre__txt input {
    font-size: 14px; }
  .env-sp .js-added {
    margin: 15px 0 5px 20px; }
  .env-sp .genre-submit-btn {
    margin-right: 5px; }
  .env-sp .genre__item:hover .genre__txt {
    font-weight: bold; }
  .env-sp .genre__item:hover .genre__delete, .env-sp .genre__item:hover .genre__edit {
    visibility: visible; }
  .env-sp .js-added_tr {
    position: relative;
    width: 100%; }
  .env-sp .todo__submit-btn {
    display: inline-block;
    margin-right: 5px; }
  .env-sp .todo__cancel-btn {
    display: inline-block; }
  .env-sp .todo__table {
    margin-top: 0px;
    margin-bottom: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: scroll;
    display: block; }
  .env-sp .todo__th {
    height: 20px;
    line-height: 10px;
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px; }
  .env-sp .todo__tr {
    border-bottom: #888 1px solid; }
  .env-sp td {
    vertical-align: middle; }
  .env-sp .editable-td {
    padding: 3px; }
  .env-sp .editable-tr {
    border-bottom: #ccc 1px dotted;
    display: none; }
  .env-sp .btn-add {
    color: #EA5504;
    cursor: pointer; }
  .env-sp .btn-genre, .env-sp .btn-todo {
    height: 24px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px; }
    .env-sp .btn-genre .btn-add, .env-sp .btn-todo .btn-add {
      display: inline-block; }
    .env-sp .btn-genre .btn-add:after, .env-sp .btn-todo .btn-add:after {
      content: 'ジャンルを追加';
      font-size: 12px;
      vertical-align: middle;
      margin-left: 10px; }
  .env-sp .btn-todo .btn-add:after {
    content: 'マイルールを追加'; }
  .env-sp .todo-insert, .env-sp .genre-insert {
    display: none;
    width: 200px; }
    .env-sp .todo-insert input[type='text'], .env-sp .genre-insert input[type='text'] {
      width: 200px;
      margin: 2px 0; }
    .env-sp .todo-insert input[type='submit'], .env-sp .genre-insert input[type='submit'] {
      margin-top: 5px; }
  .env-sp .is-editing {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    word-wrap: break-word; }
  .env-sp table {
    table-layout: fixed; }
  .env-sp th {
    min-width: 120px;
    width: 50%;
    word-break: break-all; }
  .env-sp th:first-child {
    min-width: 30px;
    width: 20px;
    display: block; }
  .env-sp td {
    min-width: 120px;
    width: 50%;
    height: 30px;
    cursor: text;
    word-break: break-all; }
  .env-sp td:first-child {
    min-width: 30px;
    width: 20px; }
  .env-sp .js-highlight td, .env-sp td.js-highlight {
    background: #f8f8f8; }
  .env-sp .btn-setting {
    font-weight: bold; }
  .env-sp .menu-trigger {
    top: 0; }
    .env-sp .menu-trigger span {
      background-color: #fff; }
  .env-sp .menu-trigger.active span {
    background-color: #fff; }
  .env-sp .menu-list {
    display: none;
    box-shadow: 0px 0px 5px #333;
    z-index: 500; }
  .env-sp .btn-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px; }
  .env-sp .btn-close:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    top: 13px;
    background-color: #333;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .env-sp .btn-close:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    top: 13px;
    background-color: #333;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .env-sp .btn-sp-menu {
    position: absolute;
    right: 50px;
    top: 8px;
    font-size: 17px;
    color: #fff; }
  .env-sp .slide-genre {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px #333; }
  .env-sp #overlay {
    width: 150%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800; }

html, body {
  width: 100%;
  height: 100%; }

.env-pc .pc {
  display: inline-block; }

.env-sp .pc {
  display: none; }

body {
  color: #333;
  background-color: #f8f8f8; }

a {
  display: block;
  width: 100%;
  height: 100%; }

.is-inactive {
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.is-inactive:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #333;
  margin-top: 5px;
  margin-left: -1px; }

.is-inactive:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #333;
  margin-top: 5px;
  margin-left: -1px; }

.env-sp .is-inactive:before,
.env-sp .is-inactive:after {
  width: 20px;
  margin-top: 8px; }

.env-pc {
  min-width: 800px;
  overflow-y: hidden; }
  .env-pc .btn-sp-menu {
    display: none; }
  .env-pc .section-block {
    width: 100%; }
  .env-pc .content-block {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    position: relative; }

.env-sp {
  min-width: 320px;
  overflow-y: visible; }
  .env-sp .btn-sp-menu {
    display: block; }
  .env-sp .section-block {
    width: 100%; }
  .env-sp .content-block {
    min-width: 320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative; }

.env-pc .btn-energy {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px, 28px;
  width: 28px;
  height: 28px;
  background-image: url(../img/app/icon-energy.svg);
  margin-top: -5px; }

.env-pc header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #EA5504; }
  .env-pc header .logo {
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px, 30px;
    width: 30px;
    height: 30px;
    background-image: url(../img/common/logo_reverse.png);
    margin-left: 30px;
    margin-top: 10px; }
  .env-pc header .fa-smile-o {
    font-size: 20px;
    margin-left: 10px; }
  .env-pc header ul {
    float: right;
    margin-right: 30px;
    margin-top: 15px; }
    .env-pc header ul li {
      display: inline-block;
      margin-right: 10px;
      color: #fff;
      font-size: 10px;
      vertical-align: middle;
      cursor: pointer; }
      .env-pc header ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        font-weight: bold; }

.env-pc footer {
  position: relative;
  height: 50px;
  background-color: #272727;
  min-width: 800px;
  width: 100%;
  position: absolute;
  bottom: 0; }
  .env-pc footer .copyright {
    color: #fff;
    font-size: 10px;
    width: 300px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto; }

.env-sp header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #EA5504; }
  .env-sp header nav {
    position: absolute;
    width: 100%; }
  .env-sp header .logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px, 30px;
    width: 30px;
    height: 30px;
    background-image: url(../img/common/logo_reverse.png);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .env-sp header ul {
    margin-right: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; }
    .env-sp header ul li {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      color: #333;
      background-color: #fff;
      cursor: pointer;
      border-bottom: 1px dotted #333;
      padding-left: 10px; }
      .env-sp header ul li a {
        text-decoration: none;
        color: #333;
        font-size: 12px;
        font-weight: bold; }

.env-sp footer {
  position: relative;
  height: 50px;
  background-color: #272727;
  min-width: 300px;
  width: 100%;
  bottom: 0; }
  .env-sp footer .copyright {
    color: #fff;
    font-size: 10px;
    width: 300px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto; }
