body {
  overflow: visible !important;
  background-color: #fff; }

.wrapper {
  overflow: hidden; }

.hidden {
  display: none; }

footer {
  position: relative !important; }

.env-pc .chart-block {
  width: 800px;
  margin: 0 auto; }

.env-pc .piechart {
  margin: 0 auto;
  margin-top: -50px;
  padding-left: 100px;
  display: inline-block;
  width: 800px;
  height: 600px;
  position: relative; }

.env-pc .piechart:first-child {
  margin-top: 0px; }

.env-sp .chart-block {
  width: 320px;
  margin: 0 auto; }

.env-sp .piechart {
  margin: 0 auto;
  margin-top: -50px;
  padding-left: 50px;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  display: inline-block;
  width: 426.66667px;
  height: 320px;
  position: relative; }

.env-sp .piechart:first-child {
  margin-top: 0px; }
