table {
  display: none; }

.wrapper {
  height: 100%;
  width: 100%; }

#map {
  position: relative;
  margin: 0 auto;
  width: 100%; }

.env-pc .wrapper {
  height: 100%;
  width: 100%; }

.env-sp .wrapper {
  height: auto;
  width: 100%; }

.env-sp .btn-sp-menu {
  right: 5px; }

.env-sp .menu-trigger {
  display: none; }
