
.env-sp{

$z-content-right: 999;
$color_bar: #888;


.user-name{
	position: absolute;
	top: 15px;
	left: 60px;
	color: #fff;
	font-weight: bold;
}


h2{
	font-size: 15px;
	display: inline-block;
}
.fa{
	margin-right: 5px;
}


.content-left{
	position: relative;
	width: 250px;
	height: 100%;
	float: left;
	display: none;
	.content-wrapper{
		padding: 10px $margin-sp 0px;
	}
}
.content-right{
	position: relative;
	float: right;
	// width: 500px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	// z-index: $z-content-right;
	// margin-right: $margin-sp;
	padding-right: 10px;
	.content-wrapper{
		padding: 13px 15px 0 0;
		margin-left: 30px;
	}
}


.sec-todo{
	min-height: 500px;
	height: 100%;
	overflow: hidden;
}


.rule{
	margin-bottom: 20px;
	width: 200px;
	border-bottom: 1px $color_bar solid;
	padding: 15px 0 15px 0;
	&__list{

	}
	&__item{
		margin-bottom: 10px;
		cursor: pointer;
	}
}

/* ======================================
 * genre
 * ====================================== */

.genre{
	width: 200px;
	position: relative;
	&__list{
		margin-bottom: 30px;
		max-height: 200px;
		overflow: scroll;
	}
	&__item{
		height: 20px;
		width: 100%;
		margin: 10px auto;
		cursor: pointer;
	}
	&__color{
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50% 50%;
		margin-right: 10px;
	}
	&__delete{
		margin-left: 10px;
		// right: 0;
		// float: right;
		// display: inline-block;
		// margin-top: 3px;
		// margin-right: 5px;
		visibility: hidden;
	}
	&__edit{
		margin-left: 25px;
		// float: right;
		// display: inline-block;
		// margin-top: 3px;
		// margin-right: 10px;
		visibility: hidden;
	}
}
.genre__txt{
	input{
		font-size: 14px;
	}
}
.js-added{
	margin: 5px 0 5px 20px;
}
.genre-submit-btn{
	margin-right: 5px;
}
.genre__item:hover{
	.genre__txt{
		font-weight: bold;
	}
	.genre__delete, .genre__edit{
		visibility: visible;
	}
}


/* ======================================
 * todoリスト
 * ====================================== */

.js-added_tr{
	position: relative;
	width: 100%;
}
.todo__submit-btn{
	display: inline-block;
	margin-right: 5px;
}
.todo__cancel-btn{
	display: inline-block;
}

.todo__table{
	margin-top: 20px;
	margin-bottom: 30px;
	table-layout: fixed;
	border-collapse: collapse;
	// max-height: 300px;
	overflow: scroll;
	display: block;
}
.todo__th{
	height: 20px;
	line-height: 10px;
	font-size: 10px;
	text-align: left;
	margin-bottom: 5px;
}
.todo__tr{
	border-bottom: $color_bar 1px solid; 
}
td{
	vertical-align: middle;
}
.editable-td{
	padding: 3px;
}
.editable-tr{
	border-bottom: #ccc 1px dotted; 
	display: none;
}

/* ======================================
 * 追加ボタン
 * ====================================== */

.btn-add{
	color: $color_main;
	cursor: pointer;
}
.btn-genre{
	height: 24px;
	position: relative;
	margin-top: 30px;
	margin-bottom: 10px;
	.btn-add{
		display: inline-block;
	}
	.btn-add:after{
		content: 'ジャンルを追加';
		font-size: 12px;
		vertical-align: middle;
		margin-left: 10px;
	}
}

.btn-todo{
	@extend .btn-genre;
	.btn-add:after{
		content: 'マイルールを追加';
	}
}


// .txt{
// 	display: inline-block;
// 	vertical-align: middle;
// 	color: $color_main;
// 	font-size: 12px;
// }


.todo-insert, .genre-insert{
	display: none;
	width: 200px;
	input[type='text']{
		width: 200px;
		margin: 2px 0;
	}
	input[type='submit']{
		margin-top: 5px;
	}
}



/* ======================================
 * テーブル編集、ハイライト
 * ====================================== */
.is-editing{
	// width: 100px;
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
table{
	table-layout:fixed;
}

$width-first-th: 20px;
$width-th:50%;

th{
	min-width: 120px;
	width: $width-th;
	word-break:break-all;
}
th:first-child{
	min-width: 30px;
	width: $width-first-th;
	// margin-right: $width-first-th;
	display: block;
}

td{
	// width: 100%;
	// width: 48%;
	min-width: 120px;
	width: $width-th;
	height: 30px;
	cursor: text;
	word-break:break-all;
}
td:first-child{
	min-width: 30px;
	width: $width-first-th;
	// margin-right: $width-first-th;
	// display: block;
}

.js-highlight td, td.js-highlight{
    background:#f8f8f8;
}


/* ======================================
 * ログアウト
 * ====================================== */

.btn-setting{
	// display: none;
	font-weight: bold;
}

.menu-trigger {
	top: 0;
	span{
		background-color: #fff;
	}
}
.menu-trigger.active {
	span{
		background-color: $color_font;
	}
}


.menu-list{
	display: none;
}




}