header.section-block
	.content-block
		nav.cf
			.logo

			ul.menu-list
				li.item.menu-todo: a(href="app") app
				li.item.menu-about: a(href="#about") about
				li.item.menu-login: a(href="login") login
			a.menu-trigger(href="#")
				span
				span
				span
					

		