header.section-block
	.content-block
		nav.cf
			h1.logo.hover-effect: a(href="app.php")
			ul
				li.item.hover-effect: a(href="archive.php") アーカイブを見る
				li.item.hover-effect: a(href="gallery.php") 一覧を見る
				li.item.hover-effect: a(href="data.php") メンタルエナジーを見る
				li.item.hover-effect.
					<i class="fa fa-cog fa-2x fa-fw"></i>