
<footer class="section-block">
  <div class="content-block">
    <ul class="sns">
      <li class="btn btn-facebook js-share_fb icon-facebook hover-effect"></li>
      <li class="btn btn-twitter icon-twitter hover-effect"><a href="http://twitter.com/intent/tweet?text=%E2%9C%A8%E3%83%A9%E3%82%A4%E3%83%95%E3%83%8F%E3%83%83%E3%82%AF%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%80%8C%E3%83%A1%E3%83%B3%E3%82%BF%E3%83%AB%E3%82%A8%E3%83%8A%E3%82%B8%E3%83%BC%E3%80%8D%E2%9C%A8%20%E6%B1%BA%E6%96%AD%E3%82%92%E6%B8%9B%E3%82%89%E3%81%99%E3%80%81%E8%BF%B7%E3%82%8F%E3%81%AA%E3%81%84%E4%BA%BA%E7%94%9F%E3%81%B8%E3%80%82&amp;url=http%3A%2F%2Fmental-energy.jp%2F&amp;hashtags=MentalEnergy%2C%20%E6%B1%BA%E6%96%AD%E3%81%97%E3%81%AA%E3%81%84%E4%BA%BA%E7%94%9F&amp;via=mo4_9" target="_blank"></a></li>
      <li class="btn btn-line icon-line hover-effect">
        <div class="line-it-button" style="display: none;" data-type="share-c" data-lang="ja"></div>
        
      </li>
    </ul>
    <div class="pushnate">
      <div class="txt"></div><div class="pushnate-register-button" data-site-id="afb9ba3a4dc5d7f96d15bfffd3a6339f"></div>
    </div>
    <div class="copyright">&copy; 2016 Mental Energy Allrights Reserved.</div>
    <div id="js-gototop"></div>
  </div>
</footer>