$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";


// $color_main: #F08700; // red
$color_main: #EA5504; // red
$color_sub: #FD7940; // orange
$color_font: #333; // gray font
$color_bg: #272727; // gray footer
$color_off: #00CFE5;

$color_todo_bg: #f8f8f8; // light gray
$color_todo_cancel: #ccc; // light gray
$color_undone: #FDE2E8;
$color_done: #E2F7FD;

$width-pc: 960px;
$width-sp: 320px;

$height_main: 500px;
$margin-pc: 30px;
$margin-sp: 10px;

$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;

$z-menu: 99;



// $color_main: #EA5504; // オレンジ
// $color_sub: #f96b5e; // ピンク
// $color_font: #333; // グレー　文字の基本色　
// $color_bg: #272727; // グレー 主にfooter

// $color_todo_bg: #f8f8f8; // かなり薄いグレー
// $color_todo_cancel: #ccc;　// 薄いグレー

// $width-pc: 960px;
// $width-sp: 320px;

// $height_main: 500px;
// $margin-pc: 30px;

// $font-size-s: 10px;
// $font-size-m: 12px;
// $font-size-l: 14px;