// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/todo', 'module/menuAnim';

// pages
@import 'page/app-pc', 'page/app-sp';


html, body{
	width: 100%;
	height: 100%;
}

.wrapper{
	
}

body{
	color: $color_font;
	background-color: $color_todo_bg;
}
a{
	display: block;
	width: 100%;
	height: 100%;
}

.env-pc{
	body{
		min-width: 800px;
		overflow-y: hidden;
	}
	.section-block{
		width: 100%;
	}
	.content-block{
		width: 800px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
}

.env-sp{
	body{
		min-width: 320px;
	}
	.section-block{
		width: 100%;
	}
	.content-block{
		// width: 320px;
		min-width: 320px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
}


.env-pc{

	header{
		position: relative;
		width: 100%;
		height: 50px;
		background-color: $color_main;
		.logo{
			float: left;
			@include setImg(30, 30);
			background-image: url(../img/common/logo_reverse.png);
			margin-left: $margin-pc;
			margin-top: 10px;
		}
		ul{
			float: right;
			margin-right: $margin-pc;
			margin-top: 15px;
			li{
				display: inline-block;
				margin-right: 10px;
				color: #fff;
				font-size: $font-size-s;
				vertical-align: middle;
				cursor: pointer;
				a{
					text-decoration: none;
					color: #fff;
					font-size: $font-size-s;
					font-weight: bold;
				}
			}
		}
	}
	footer{
		$height-footer: 50px;
		position: relative;
		height: $height-footer;
		background-color: $color_bg;
		min-width: 800px;
		width: 100%;
		position: absolute;
		bottom: 0;
		.copyright{
			color: #fff;
			font-size: $font-size-s;
			width: 300px;
			line-height: $height-footer;
			text-align: center;
			margin: 0 auto;
		}
		
	}


	
}




.env-sp{

	header{
		position: relative;
		width: 100%;
		height: 50px;
		background-color: $color_main;
		nav{
			position: absolute;
			width: 100%;
		}
		.logo{
			// float: left;
			@include setImg(30, 30);
			background-image: url(../img/common/logo_reverse.png);
			margin-left: $margin-sp;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		ul{
			// float: right;
			margin-right: $margin-sp;
			// margin-top: 15px;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: .9;
			z-index: $z-menu;
			li{
				display: block;
				width: 100%;
				height: 50px;
				line-height: 50px;
				color: $color_font;
				background-color: #fff;
				cursor: pointer;
				border-bottom: 1px dotted $color_font;
				padding-left: $margin-sp;
				a{
					text-decoration: none;
					color: $color_font;
					font-size: $font-size-m;
					font-weight: bold;
				}
			}
		}
	}
	footer{
		$height-footer: 50px;
		position: relative;
		height: $height-footer;
		background-color: $color_bg;
		min-width: 300px;
		width: 100%;
		bottom: 0;
		.copyright{
			color: #fff;
			font-size: $font-size-s;
			width: 300px;
			line-height: $height-footer;
			text-align: center;
			margin: 0 auto;
		}
		
	}


	
}


