body, html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body{
	background-color: #000;
}

#particleEmitterCanvas{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#particleEmitterCanvas2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


main{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color: #fff;
	min-width: 600px;
	width: 100%;
	font-size: 40px;
	text-align: center;
	text-shadow: 0 0 10px #fff;
	font-family: 'EB Garamond', serif;
	// font-family: 'Playfair Display SC', serif;
	font-family: 'Radley', serif;
	letter-spacing: 3px;
	.txt{
		font-size: 40px;
	}
	#percent{
		font-size: 30px;
		opacity: 0;
		text-shadow: 0 0 10px #fff;
		.score{
			font-size: 90px;
			
		}
	}
}

/* ======================================
 * ブラーアニメーション
 * ====================================== */

.blur{
	color: #fff;
	opacity: 1 !important;
	animation-name: blurAnim;
	// animation-delay: 2000ms;
	animation-duration: 3s;
	letter-spacing: 3px;
}
@keyframes blurAnim{
	0%{ text-shadow: 0 0 120px #fff; color: transparent; opacity: 0;}
	10%{ text-shadow: 0 0 120px #fff; color: transparent; opacity: 0; letter-spacing: -10px;}
	100%{ text-shadow: 0 0 10px #fff; color: transparent; opacity: 1; letter-spacing: 3px;}
	
}

.blurInfi{
	animation-name: blurInfi;
	animation-duration: 8s;
	animation-iteration-count: infinite;

}
// @keyframes blurInfi{
// 	0%{ text-shadow: 0 0 120px #fff; color: transparent; opacity: 0;}
// 	10%{ text-shadow: 0 0 0px #fff; color: transparent; opacity: 1;}
// 	100%{ text-shadow: 0 0 0px #fff; color: transparent; opacity: 1;}
// }


@keyframes blurInfi {
	0% { opacity: 1; }
	50% { opacity: 1; }
	// 52% { opacity: 0.8; }
	// 54% { opacity: 1; }
	// 56% { opacity: 0.6; }
	// 58% { opacity: 1; }
	// 60% { opacity: 0.4; }
	75% { opacity: 1; }
	80% { opacity: 0.9; }
	83% { opacity: 0.2; }
	84% { opacity: 0.9; }
	85% { opacity: 0.4; }
	86% { opacity: 0.7; }
	87% { opacity: 1; }
	100% { opacity: (1) ;}
}