table{
  display: none;
}
.wrapper{
  height: 100%;
  width: 100%;
}
// #dummy{
//   position: relative;
//   width: 100%;
//   height: 50px;
// }
#map{
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.env-pc{
  .wrapper{
    height: 100%;
    width: 100%;
  }

}



.env-sp{
  .wrapper{
    height: auto;
    width: 100%;
  }

  .btn-sp-menu{
    right: 5px;
  }
  .menu-trigger{
    display: none;
  }

}
